*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    /* 1rem = 10px */
}


li{
    font-size: 2rem;
}

.grid-two-cols{
    grid-template-columns: repeat(2, 1fr);
}

.navbar{
    display: flex;
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 15px 24px 5px;
}

.nav-items{
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;

    &:hover{
        color: #8ce130;

    }
}